* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

button {
    background: #7879F1;
    border-radius: .0rem .4rem .4rem .0rem;
    color: white;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background-color: #6868df;
}

/* screen 1 */

body,
button,
input {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.6rem;
}

h1,
p {
    color: #34355B;
}

p {
    opacity: .8;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    margin-top: -8rem;
    text-align: center;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

input,
button {
    border: none;
    padding: 1.6rem;
}

input {
    background: #DCE2E9;
    border-radius: .4rem .0rem .0rem .4rem;
    width: 6.5rem;
    color: #34355B;
    font-size: 1.6rem;
    outline: none;
}

/* screen 2 */

h2 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    text-align: center;
    color: #34355B;
    margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: .4rem;
}