body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
    margin-bottom: 32px;
}

span,
a {
    color: #FF9900;
}

p,
#footer {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#hero {
    width: 592px;
    margin: 0 auto 72px;
}

#hero img {
    margin-bottom: 72px;
}

#footer a+a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0px;
    border: 1px #ECEFF2 solid;
    margin: 0 auto 8px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}