* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #ECE9FD;
    font-family: 'Epilogue', sans-serif;
    padding: 6rem 2.3rem 6.6rem;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;
    color: #090039;
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
}

main p:first-child {
    color: #7158ef;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 3.2rem;
    margin-bottom: 1.7rem;
}

h1+p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: rgba(10, 0, 57, 0.64);
    margin-bottom: 3.2rem;
}

a {
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #090039;
    text-decoration: none;
}

a:hover {
    color: #382799;
}

ul {
    margin-top: 7.2rem;
}

ul li span {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
    letter-spacing: -2px;
    color: #090039;
}

ul li {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;

}